#vtrsDisponiveisTable {
    margin-top: 1.5vh;
    font-family: "Century Gothic", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#vtrsDisponiveisTable td {
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1rem;
    max-width: 80px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: white;
}

#vtrsDisponiveisTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#vtrsDisponiveisTable tr:hover {
    background-color: #ddd;
}

#vtrsDisponiveisTable th,
tfoot td {
    font-size: 1rem;
    text-align: center;
    background-color: #2cb43e;
    color: white;
}
